@import global.sass
@import error.sass
@import menu.sass
@import jquery.sass
@import members.sass

#container 
  :background white

#main
  :text-align left
  /:width auto

#main_footer
  :clear both
  
.site
  :border-top 1px solid #grey
  :padding 2em

#header
  :text-align left
  :background url(/images/branding/asc_logo.jpg) no-repeat
  :height 37px
  :width 200px
  :padding 20px 0px 0px 252px
  :margin-left 20px
  :font
    :size 140%
    :family arial
    :weight bold
  :color red
  :overflow hidden
  
  
#navigation
  :font
    :size 120%
    :family arial
  :float right
  :margin 20px 100px 0px 0px
  a
    :padding 5px 10px

h1 
  :color white
  :background red
  :padding 5px 20px
  :margin-bottom 20px
  :font-size 12pt
  :font-weight normal


#footer
  :color #777
  /:height = !footer_height
  :overflow hidden

  .copyright
    :float right
    :font-size 80%
    :margin 0 1em 1em 1em

  .context_menu_container
    :float left
    :border-bottom none
    :font-size 80%
    :margin-top 1em

table 
  tr
    td
      :padding 0px 5px

form
  :margin 10px 0px
  
  em
    :color #555 
  
  label
    :display block
    :margin-bottom 3px
    
  option
    :padding 0px 5px
  
  textarea
    :width 95%
    
.spinner
  :display none
