@import global.sass
@import error.sass
@import menu.sass
@import jquery.sass
@import members.sass

#container 
  :background white

#main
  :text-align left
  :border-top 1px solid #grey
  :padding 2em
  
.navigation
  :font
    :size 120%
    :family arial
  :margin 20px 100px 0px 0px
  a
    :padding 5px 10px
  
#header
  :text-align left
  :padding 20px 0px 0px 252px
  :font
    :size 140%
    :family arial
    :weight bold
  :color red
  :height 39px
  .logo
    :position absolute
    :background url(/images/branding/asc_logo.jpg) no-repeat
    :top 0px
    :left 5px
    :height 59px
    :width 195px

#top
  :font-size 105%
  :position absolute
  :top 20px
  :right 20px
  

ul.actions
  :display inline
  li 
    :display inline
  a
    :margin 0px 10px


h1#heading 
  :color white
  :background red
  :padding 5px 20px
  :margin-bottom 20px
  :font-size 12pt
  :font-weight normal
  :vertical-align bottom
  
#pre_heading
  :font
    :family courier
  
#flash
  :font-weight bold
  .notice
    :color green
  .error
    :color red

#footer
  :border-top 1px solid #grey
  :color #777
  :padding 10px 0px 20px
  .copyright
    :font-size 80%
    :margin 10px 0px

table 
  tr
    td, th
      :padding 0px 5px
    td.center
      :text-align center
  tfoot
    td, th
    :font-weight bold

form
  :margin 10px 0px
  .error
    :color red
    :font-style italic
    .feedback
      :display none
  em
    :color #555 
  label
    :display block
    :margin-bottom 3px
  option
    :padding 0px 5px
  textarea
    :width 95%
  .buttons
    :display inline-block
    
.spinner
  :display none
  
.column
  :float left
  :width 40%
  
.clear
  :clear both
  
.fat_right
  :padding-right 20px