!albert_red = red
!faded = #aaa

table.list
  tr
    td
      :padding 5px
      :vertical-align top
      :border-top = 1px solid !faded
  tr.odd

ul.list
  :margin 0px
  :padding 0px
  li 
    :border-top = 1px solid !faded
    :padding 5px
    :margin 0px
    :list-style-type none
    .name
      :display inline-block
      :width 200px
    .membership_type
      :display inline-block
      :width 200px
    .assets
      :display inline-block
      :width auto
  ul
    :display none
    li
      :border-top none
      :padding-left 200px
  
.column
  :float left
  :padding 10px

#member  
  :width 900px
  p 
    :display block
    :float left
    :height 30px
    :padding 0px
    :min-width 250px
    :margin 10px
  fieldset
    :padding 5px 5px 10px 5px
    :margin 10px 0px
    
