* {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%; }

body {
  background-color: #eee;
  font: 13.34px verdana, arial, helvetica, sans-serif;
  text-align: center; }

body * {
  line-height: 1.4em; }

h2 {
  margin-top: 20px;
  font-size: 130%; }

a {
  color: blue;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

p {
  margin-bottom: 1em; }

dl dt {
  float: left;
  font-weight: bold;
  padding-right: 1em; }

ol, ul {
  margin: 0 0 1em 1em; }
  ol li, ul li {
    margin-left: 1em; }

select, input, textarea {
  font: 99% verdana, arial, helvetica, sans-serif;
  margin-bottom: 10px; }

input.text {
  padding: 1px 0px; }

table {
  border-collapse: collapse; }

form span.hint {
  display: block;
  color: #aaaaaa;
  font-style: italic;
  padding-bottom: 3px; }

.fieldWithErrors {
  margin: 0px;
  padding: 0px;
  border: 2px solid red;
  display: table; }

#errorExplanation {
  width: 450px;
  border: 2px solid red;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  letter-spacing: 0.06em;
  word-spacing: 0.08em; }
  #errorExplanation h2 {
    font-family: verdana;
    text-align: left;
    font-weight: normal;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: 0px;
    background-color: #c00;
    color: #fff; }
  #errorExplanation p {
    font-family: verdana;
    font-weight: normal;
    color: #333;
    margin-bottom: 0;
    padding: 5px; }
  #errorExplanation ul li {
    font-family: verdana;
    font-weight: normal;
    font-size: 12px;
    list-style: square; }

div.context_menu_container, div.sub_menu_container {
  border-bottom: 1px solid silver;
  overflow: hidden;
  margin-bottom: 1em; }

ul.context_menu, ul.sub_menu {
  height: 1.5em;
  list-style: none;
  margin: 0;
  padding: 0; }
  ul.context_menu li, ul.sub_menu li {
    border-left: 1px solid silver;
    float: left;
    line-height: 1.1em;
    margin: 0 0.5em 0 -0.5em;
    padding: 0 0.5em; }
    ul.context_menu li a.selected, ul.sub_menu li a.selected {
      font-weight: bold; }

label.error {
  color: red;
  font-style: italic; }

input.error {
  border: 2px solid red; }

table.list tr td {
  padding: 5px;
  vertical-align: top;
  border-top: 1px solid #aaaaaa; }

body.members_index .filter {
  display: inline-block; }
body.members_index ul.menu {
  float: right; }

ul.menu li {
  display: inline-block;
  cursor: pointer;
  color: blue;
  padding: 2px; }
  ul.menu li:hover {
    text-decoration: underline; }

ul.list {
  font-size: 10pt;
  margin: 0px;
  padding: 0px; }
  ul.list li {
    border-top: 1px solid #aaaaaa;
    padding: 0px;
    margin: 0px;
    list-style-type: none; }
    ul.list li:hover {
      background: #fdd; }
    ul.list li .icon, ul.list li .item, ul.list li .checkbox {
      vertical-align: middle;
      text-align: left;
      display: inline-block;
      padding: 1px;
      margin: 0px; }
    ul.list li .item {
      width: 150px; }
    ul.list li .checkbox {
      padding-left: 40px;
      width: 25px; }
    ul.list li .name {
      width: 200px; }
    ul.list li .membership_type {
      width: 200px; }
    ul.list li .tick {
      width: 25px;
      margin: 0px;
      padding: 0px; }
  ul.list ul {
    display: none; }
    ul.list ul li {
      border-top: none;
      padding-left: 50px; }

.staggered form {
  width: 900px; }
  .staggered form p {
    display: inline-block;
    padding: 0px;
    min-width: 250px;
    margin: 2px 10px; }
  .staggered form p.checkbox {
    margin: 15px; }
    .staggered form p.checkbox input, .staggered form p.checkbox label {
      margin: 5px;
      display: inline-block; }
    .staggered form p.checkbox label.hint {
      font-style: italic;
      color: #aaaaaa; }
.staggered fieldset {
  padding: 5px 5px 10px 5px;
  margin: 10px 0px; }
  .staggered fieldset .child_record:hover {
    background: #ffa; }

#container {
  background: white; }

#main {
  text-align: left; }

#main_footer {
  clear: both; }

.site {
  border-top: 1px solid #grey;
  padding: 2em; }

#header {
  text-align: left;
  background: url(/images/branding/asc_logo.jpg) no-repeat;
  height: 37px;
  width: 200px;
  padding: 20px 0px 0px 252px;
  margin-left: 20px;
  font-size: 140%;
  font-family: arial;
  font-weight: bold;
  color: red;
  overflow: hidden; }

h1#heading {
  color: white;
  background: red;
  padding: 5px 20px;
  margin-bottom: 20px;
  font-size: 12pt;
  font-weight: normal;
  vertical-align: bottom; }

#pre_heading {
  font-family: courier; }

#flash {
  font-weight: bold; }
  #flash .notice {
    color: green; }
  #flash .error {
    color: red; }

#navigation {
  font-size: 120%;
  font-family: arial;
  float: right;
  margin: 20px 100px 0px 0px; }
  #navigation a {
    padding: 5px 10px; }

#footer {
  color: #777;
  overflow: hidden; }
  #footer .copyright {
    float: right;
    font-size: 80%;
    margin: 0 1em 1em 1em; }
  #footer .context_menu_container {
    float: left;
    border-bottom: none;
    font-size: 80%;
    margin-top: 1em; }

table tr td, table tr th {
  padding: 0px 5px; }
table tr td.center {
  text-align: center; }
table tfoot {
  font-weight: bold; }

form {
  margin: 10px 0px; }
  form .error {
    color: red;
    font-style: italic; }
    form .error .feedback {
      display: none; }
  form em {
    color: #555; }
  form label {
    display: block;
    margin-bottom: 3px; }
  form option {
    padding: 0px 5px; }
  form textarea {
    width: 95%; }
  form .buttons {
    display: inline-block; }

.spinner {
  display: none; }

.actions {
  float: right; }

.column {
  float: left;
  width: 40%; }

.clear {
  clear: both; }
