table.members tr td {
  border-top: 1px solid red; }
table.members tr:hover {
  background: lightgreen; }

.column {
  float: left;
  padding: 10px; }

#member {
  width: 900px; }
  #member p {
    display: block;
    float: left;
    height: 30px;
    padding: 0px;
    min-width: 250px;
    margin: 10px; }
  #member fieldset {
    padding: 5px 5px 10px 5px;
    margin: 10px 0px; }
