table.list tr td {
  padding: 5px;
  vertical-align: top;
  border-top: 1px solid #aaaaaa; }

ul.list {
  margin: 0px;
  padding: 0px; }
  ul.list li {
    border-top: 1px solid #aaaaaa;
    padding: 5px;
    margin: 0px;
    list-style-type: none; }
    ul.list li .item, ul.list li .checkbox {
      display: inline-block; }
    ul.list li .checkbox {
      padding: 2px;
      float: right; }
    ul.list li .name {
      width: 200px; }
    ul.list li .membership_type {
      width: 200px; }
    ul.list li .tick {
      width: 25px; }
  ul.list ul {
    display: none; }
    ul.list ul li {
      border-top: none;
      padding-left: 50px; }

.column {
  float: left;
  padding: 10px; }

.staggered form {
  width: 900px; }
  .staggered form p {
    display: inline-block;
    padding: 0px;
    min-width: 250px;
    margin: 2px 10px; }
  .staggered form p.checkbox {
    margin: 15px; }
    .staggered form p.checkbox input, .staggered form p.checkbox label {
      margin: 5px;
      display: inline-block; }
    .staggered form p.checkbox label.hint {
      font-style: italic;
      color: #aaaaaa; }
.staggered fieldset {
  padding: 5px 5px 10px 5px;
  margin: 10px 0px; }
  .staggered fieldset .child_record:hover {
    background: #ffa; }
