table.list tr td {
  padding: 5px;
  vertical-align: top;
  border-top: 1px solid #aaaaaa; }

ul.list {
  margin: 0px;
  padding: 0px; }
  ul.list li {
    border-top: 1px solid #aaaaaa;
    padding: 5px;
    margin: 0px;
    list-style-type: none; }
    ul.list li .item {
      display: inline-block; }
    ul.list li .name {
      width: 200px; }
    ul.list li .membership_type {
      width: 200px; }
    ul.list li .tick {
      width: 25px; }
  ul.list ul {
    display: none; }
    ul.list ul li {
      border-top: none;
      padding-left: 50px; }

.column {
  float: left;
  padding: 10px; }

#member {
  width: 900px; }
  #member p {
    display: block;
    float: left;
    height: 30px;
    padding: 0px;
    min-width: 250px;
    margin: 10px; }
  #member fieldset {
    padding: 5px 5px 10px 5px;
    margin: 10px 0px; }
