.actions
  =link_to_function 'show family members', "$('ul.list ul').toggle();"
  |
  =link_to 'export to csv', members_path(:format => 'csv'), :confirm => "If you want to export the members to a .csv file (usable by Excel), right-click this link and 'Save to file'.\n\nDo you want to view the file online instead?"

  | 
  =link_to 'new member', new_member_path
  
  
%div
  %label{ :for => "filter"} Filter
  %input{ :type => "text", :name => "filter", :value => "", :id => "filter" }
  =link_to_function 'reset', "$('input[name=filter]').attr('value', ''); filter('%ul.list li', '');"
  |
  =link_to_function 'expired', "$('input[name=filter]').attr('value', 'expired');filter('%ul.list li', 'expired');"
  |
  =link_to_function 'financial', "$('input[name=filter]').attr('value', 'financial'); filter('%ul.list li', 'financial');"


.tabs
  %ul 
    - %w{active resigned}.each do |status|
      %li
        %a{:href => "##{status}"}= status

  - %w{active resigned}.each do |status|
    %div{:id => status}
      %ul.list
        = render Member.send(status).principals.sorted

%script{:type => 'text/javascript'}
  $(".tabs").tabs();
  setupFilter('%ul.list li')