.actions 
  =link_to_function 'show family members', "jQuery('ul.list ul').toggle();"
  | 
  =link_to 'new member', new_member_path

- %w{active resigned}.each do |status|
  %h2= status.humanize
  %ul.list
    = render Member.send(status).principals
